In [1]:
import pandas as pd

In [6]:
a=pd.read_csv("/Users/tim/Development/DotNetProjects/Datawarehouse_AdventureWorks/dw8_2/fact_tmp.csv")

In [7]:
a.head()

,{2543C7BF-679B-47F3-A04F-EB5DA849EF32},2011-05-31 00:00:00,43699,355,Unnamed: 4,1,773,1.1,3399.99,0,...,0.1,1.2,1912.1544,Unnamed: 19,1487.8356,150,69,10346,0.2,0.3
0,{6D43204A-DBA1-4013-BC4D-0273BAA703C9},2011-05-31 00:00:00,43700,356,NaN,1,767,1,699.0982,0.0,...,0.0,1.0,486.7066,NaN,212.3916,150,63,8020,0,0
1,{C0B26057-26B3-40CD-B88B-B9986E6D382D},2011-06-01 00:00:00,43702,358,NaN,1,750,1,3578.2700,0.0,...,0.0,1.0,2171.2942,NaN,1406.9758,151,46,17693,0,0
2,{1D2F662D-D788-400E-9369-7CB0426CA32C},2011-06-02 00:00:00,43706,362,NaN,1,751,1,3578.2700,0.0,...,0.0,1.0,2171.2942,NaN,1406.9758,152,47,17669,0,0
3,{BF074A62-72E7-43E6-835B-18F19350666B},2011-06-02 00:00:00,43707,363,NaN,1,751,1,3578.2700,0.0,...,0.0,1.0,2171.2942,NaN,1406.9758,152,47,17664,0,0
4,{0108830A-7B72-4B2F-98FC-296BA60BC0E3},2011-06-03 00:00:00,43711,367,NaN,1,753,1,3578.2700,0.0,...,0.0,1.0,2171.2942,NaN,1406.9758,153,49,17654,0,0

In [8]:
a.describe()

,43699,355,1,773,1.1,3399.99,0,3399.990000,25863,Unnamed: 13,...,0.1,1.2,1912.1544,Unnamed: 19,1487.8356,150,69,10346,0.2,0.3
count,121316.000000,121316.000000,121316.000000,121316.000000,121316.000000,121316.000000,121316.000000,121316.000000,121316.000000,60919.000000,...,121316.000000,121316.000000,121316.000000,60919.000000,121316.000000,121316.000000,121316.000000,121316.000000,121316.000000,121316.000000
mean,57827.480242,60659.497082,2.266090,841.681402,1.162542,465.069304,0.002826,905.428644,24345.617998,280.771155,...,0.003221,1.165779,373.673436,1047.565029,107.404378,926.829231,137.681402,12850.647021,172.728519,3.902296
std,9009.093714,35021.062005,2.491331,86.452255,1.218609,751.840962,0.024811,1693.409223,6689.136538,5.018075,...,0.025063,0.366315,554.098742,486.727460,501.323852,265.597154,86.452255,5886.458329,225.210770,5.267083
min,43659.000000,1.000000,1.000000,707.000000,1.000000,1.328200,0.000000,1.374000,11000.000000,274.000000,...,0.000000,0.604600,0.856500,292.000000,-14454.950000,150.000000,3.000000,1.000000,0.000000,0.000000
25%,49884.000000,30330.750000,1.000000,768.000000,1.000000,21.490000,0.000000,24.990000,18177.000000,277.000000,...,0.000000,1.000000,9.159300,652.000000,1.098700,789.000000,64.000000,8126.750000,0.000000,0.000000
50%,57029.000000,60659.500000,1.000000,863.000000,1.000000,49.990000,0.000000,134.982000,29485.000000,279.000000,...,0.000000,1.000000,38.492300,982.000000,13.556100,1003.000000,159.000000,17017.000000,6.000000,1.000000
75%,65490.000000,90988.250000,3.000000,921.000000,1.000000,602.346000,0.000000,1120.490000,29795.000000,284.000000,...,0.000000,1.517200,486.706600,1334.000000,51.357475,1126.000000,217.000000,17329.000000,346.000000,6.000000
max,75123.000000,121317.000000,44.000000,999.000000,16.000000,3578.270000,0.400000,27893.619000,30118.000000,290.000000,...,0.400000,7.368500,2171.294200,1994.000000,10367.301200,1276.000000,295.000000,19119.000000,701.000000,17.000000